@media (max-width: 1199px) {

}
@media (max-width: 991px) {
	.bg-dark {
	    background-color:rgba(0,0,0,.7) !important;
	    padding-bottom: 12px;

	}
	.header.bg {
		height: auto;
	}
	.logodam {
    	top: 1px;
	}
	.navbar-dark .navbar-toggler {
    	margin-top: 5px;
    	border-color: #e2a836;
	}

	.navbar-dark .navbar-toggler-icon {
  		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(226,168,54, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}
	.text-value {
		font-size: 18px;
		line-height: 22px;
	}
	#encontacto {
		border-right: none;
	}
}
@media (max-width: 920px) {
	.iconserv {
    	width: 40px;
	}
}
@media (max-width: 840px) {
	
.title.first {
		font-size: 20px;
		line-height: 30px;
}
.titlesub {

    font-size: 18px;

}
	.form {
    	width: 280px;
	}
	.input {
    	width: 240px;
	}
}
@media (max-width: 767px) {
	.benefits {
		    text-align: center;
	    height: auto;
	    background: url(../assets/img/fake_brick.png) center;
	}
	.filtro {
		height: auto;
    	padding-bottom: 30px;
	}
	.value6 {
		height: auto;
		text-align: center;
		padding-bottom: 70px;
	}
	.form.float-left {
    width: calc(100% - 40px);
    position: absolute;
    top: 200px;
    margin-right: 0px;
    height: 470px;
	}
	.title.first.float-left {
    float: none;
    width: 100%;
    margin-top: 70px;
	}
	.form .input {
    display: inline-block;
    width: 49%;
	}
	.section-form {
    height: 600px;
	}
}
@media (max-width: 575px) {
	
	.value6 {
    height: 300px;

}
	footer {
    height: auto;
    text-align: center;

	}
	#map {
    height: 500px;
    max-height: 100vh;
	}
	.title.first {
		    font-size: 20px;
			line-height: 35px;
	}
	.titlesub {

	    font-size: 18px;

	}
	.section-title, .value, #map {
		max-height: 100vh;
	}
}
@media (max-width: 450px) {
	.title, .title.first {
    font-size: 18px;
    line-height: 25px;
	}
	.form.float-left {
		top: 150px;
	}
	
	.section-title.text-center {
    height: 360px;
	}
}
